<p id="notice"><%= notice %></p>

<p><h2>
  <strong>Project Name:</strong>
  <%= @project.name %>
<h2></p>

<h3>Tasks</h3>
<% @tasks.each do |task| %>
  <div>
    <strong><%= task.name %></strong>
    <strong><%= task.status ? "Completed" : "Incomplete" %></strong>
    <%= image_tag(task.picture_url, width: 50) if task.picture.present? %>

    <br>
    <td><%= link_to 'Show', task_path(task) %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
<% end %>

<p>
</p>
<p><h5>Create new Task<h5></p>

<%= render partial: 'tasks/form', locals: { task: @task } %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
